.btn {
  border-radius: 3px;
  padding: 0.4em 0.5em;
  transition: background-color 0.3s ease, opacity 0.25s ease;

  &:disabled {
    opacity: 0.35;
    cursor: not-allowed;
    background-color: grey;

    &:hover,
    &:focus {
      background-color: grey;
    }
  }
}

.btn_primary {
  background-color: #456c83;

  @media (prefers-color-scheme: light) {
    color: white;
  }

  &:hover,
  &:focus {
    background-color: lighten(#456c83, 5);
  }
}

.btn_secondary {
  background-color: #598e7d;

  @media (prefers-color-scheme: light) {
    color: white;
  }

  &:hover,
  &:focus {
    background-color: lighten(#598e7d, 5);
  }
}

.btn_cancel {
  background-color: #d11d1d;

  @media (prefers-color-scheme: light) {
    color: white;
  }

  &:hover,
  &:focus {
    background-color: lighten(#d11d1d, 5);
  }
}

.btn_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  transition: background-color 0.25s ease;

  &.outline {
    --color: white;

    @media (prefers-color-scheme: light) {
      --color: black;
    }

    border: 1px solid var(--color);
  }

  &.rounded {
    border-radius: 50%;
  }
}
