.btn {
  border-radius: 3px;
}

.btn_primary {
  background-color: rgb(25, 114, 230);
  transition: background-color 0.3s ease;

  &:hover,
  &:focus {
    background-color: lighten(rgb(25, 114, 230), 5);
  }
}
