:root {
  --color-error-messge: rgb(248, 69, 45);
}

form {
  // margin top for every element in the form except the first
  > *:not(:first-child) {
    margin-top: 1em;
  }
}

.form-field {
  --color-accent-full: white;
  --color-accent-med: rgba(255, 255, 255, 0.7);
  --color-accent-low: rgba(255, 255, 255, 0.5);

  @media (prefers-color-scheme: dark) {
    --color-accent-full: white;
    --color-accent-med: rgba(255, 255, 255, 0.7);
    --color-accent-low: rgba(255, 255, 255, 0.5);
  }

  @media (prefers-color-scheme: light) {
    --color-accent-full: rgb(35, 35, 35);
    --color-accent-med: rgba(35, 35, 35, 0.7);
    --color-accent-low: rgba(35, 35, 35, 0.5);
  }

  &__inner {
    display: flex;
  }

  label {
    display: block;
  }

  input {
    width: 100%;
    padding: 0.25em 0;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-accent-low);
    transition: border-bottom 0.3s ease;

    &:hover {
      border-bottom: 1px solid var(--color-accent-med);
    }

    &:focus {
      border-bottom: 1px solid var(--color-accent-full);
    }
  }

  textarea {
    padding: 0.5em 1em;
    background-color: transparent;
    resize: vertical;
    min-height: 150px;
    max-height: 400px;
    outline: none;
    border: 1px solid var(--color-accent-low);
    transition: border-bottom 0.3s ease;

    &:hover {
      border: 1px solid var(--color-accent-med);
    }

    &:focus {
      border: 1px solid var(--color-accent-full);
    }
  }
}

.form-validation_error-message {
  padding: 0.5em 0;
  font-weight: 500;
  color: var(--color-error-messge);
  word-wrap: break-word;
}
