.card {
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 1em;
  background-color: var(--color-header);

  @media (prefers-color-scheme: light) {
    box-shadow: var(--shadow-weak);
  }
}
