@forward 'color-theme';
@forward 'resets';
@forward 'animations';
@forward 'transitions';
@forward 'scrollbar';
@forward 'mixins';
@use 'mixins' as *;
@forward 'ui-elements';
@forward 'form';
@forward 'buttons';

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500;600;700&display=swap');

:root {
  --header-height: 48px;

  @include mq('t-p') {
    --header-height: 56px;
  }
}

html,
body,
#app {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-page);
  color: var(--text-color);
  font-family: 'Urbanist', 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  padding-block: 1em;
}

svg {
  transition: fill 0.3s ease;
}

.avatar {
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.avatar__comment {
  height: 40px;
}

.duration-display {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 0 6px;
  font-size: 14px;
  bottom: 0;
  right: 0;
  margin: 5px;
}
