@forward 'color-theme';
@forward 'resets';
@forward 'transitions';
@forward 'scrollbar';
@forward 'mixins';
@forward 'ui-elements';
@forward 'form';
@forward 'buttons';

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500;600;700&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-page);
  color: var(--text-color);
  font-family: 'Urbanist', 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  padding: 1em;
}

svg {
  transition: fill 0.3s ease;
}
